.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--quaternary-color);
    padding: 4rem;
    padding-left: 15%;
    padding-right: 15%;
    border-top: 2px solid var(--primary-color);

    .contactLink, .blogLink, .legalNoticesLink, .privacyPolicyLink, .copyright {
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 1.1rem;
    }
}