.recipeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--primary-color);
  padding: 2rem;
  gap: 5rem;
  
  .left {
    background: var(--tertiary-color);
    margin-top: 7.5rem;
    width: 25rem;
    padding: 2.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 1.8rem;
      margin-top: 1.4rem;
      margin-bottom: 3rem;
      text-transform: uppercase;
      text-align: center;

      input {
        width: 100%;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        border: none;
        background: white;
        border: none;
        font-size: 1rem;
      }
    }

    h3 {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-bottom: 1.2rem;
      margin-top: 1rem;
    }

// TEMPS DE CUISSON ET PREPARATION

    .timeContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
      
      .timeBlock {
        width: 48%;
        
        .timeTitle {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
        
        .time {
          font-size: 1.1rem;
          background: var(--secondary-color);
          padding: 0.6rem;
          border-radius: 10px;
          text-align: center;
          width: 100%;
          
          input {
            width: 90%;
            text-align: left;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            background: none;
            padding: 0.2rem 1rem;
          }
        }
      }
    }

// DIFFICULTE

    .difficultyContainer {
      margin-bottom: 3rem;
      
      .difficulty {
        font-size: 1.1rem;
        background: var(--secondary-color);
        padding: 0.2rem 0.6rem;
        border-radius: 10px;
        text-align: center;
        width: 100%;
        margin-top: 0.5rem;
        
        select {
          width: 90%;
          text-align: center;
          border: 1px solid var(--primary-color);
          border-radius: 5px;
          background: none;
        }
      }
    }

//  TAGS

    .tagsContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      
      .tag {
        background: var(--emphasis-color);
        color: var(--secondary-color);
        padding: 0.5rem 1rem;
        border-radius: 20px;
        font-size: 1.1rem;
      }
    }
    
    .addTag {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      
      input {
        flex: 1;
        border: none;
        border-radius: 10px;
        background: white;
        padding: 0.5rem 1rem;
      }
    }

// IMAGE

  .imageUploadContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
    .customFileUpload {
      background: var(--secondary-color);
      color: var(--emphasis-color);
      border: 1px solid var(--emphasis-color);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      transition: 0.3s;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      width: 100%;

      &:hover {
        background: var(--emphasis-color);
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
      }
    }

    .imgInput {
      display: none;
    }
    
    // .deleteImage {
    //   background: var(--secondary-color);
    //   color: var(--emphasis-color);
    //   border: 1px solid var(--emphasis-color);
    //   font-size: 0.9rem;
    //   padding: 0.6rem;
    //   border-radius: 10px;
    //   margin-top: 0.5rem;
    //   width: 100%;
      
    //   &:hover {
    //     background: var(--emphasis-color);
    //     color: var(--secondary-color);
    //     border: 1px solid var(--secondary-color);
    //   }
    // }

    .recipeImage {
      border-radius: 11px;
      border: 1px solid var(--primary-color);
      margin-top: 2rem;
    }
  }

  .right {
    background: var(--tertiary-color);
    margin-top: 7.5rem;
    padding: 2.5rem;
    border-radius: 10px;
    width: 55rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }

    // DESCRIPTION

      p {
        background: var(--secondary-color);
        font-size: 1.2rem;
        padding: 0.6rem 1rem;
        border-radius: 10px;
        margin-bottom: 1rem;
      }

      textarea {
        width: 100%;
        min-height: 50px;
        padding: 0.8rem;
        border-radius: 10px;
        border: none;
        font-size: 1rem;
        resize: vertical;
      }
  

// INGREDIENTS EDIT

    .ingredientsEditContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .ingredientRow {
        display: flex;
        gap: 2rem;
        align-items: center;
      }
  
     input, select {
        padding: 0.8rem;
        border-radius: 10px;
        border: none;
        width: 100%;
        font-size: 1rem;
      }

      input {
        flex: 2;
      }

      select {
        flex: 1;
      }
    }

// INGREDIENTS LIST

    .ingredientsList {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      
      .ingredientItem {
        display: grid;
        grid-template-columns: 52% 20% 20%;
        gap: 2rem;
        
        span {
          text-align: left;
          background: var(--secondary-color);
          border-radius: 10px;
          padding: 0.6rem 1rem;
          font-size: 1.1rem;
        }
        
        p {
          margin: 0;
          padding: 0.8rem;
          border-radius: 10px;
          background: var(--secondary-color); 
        }
      }
    }
    
// INSTRUCTIONS EDIT

    .instructionsEditContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .instructionRow {
        display: flex;
        gap: 2rem;
        align-items: center;
      }
    }

    .instructionsList {
      list-style-position: inside;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1.1rem;
      
      .instructionItem {
        background: var(--secondary-color);
        padding: 0.8rem 1rem;
        border-radius: 10px;
      }
    }
  }

// BOUTONS

  .deleteButton {
    background: var(--emphasis-color);
    color: var(--secondary-color);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    width: 2rem;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
  
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  button {
    background-color: var(--secondary-color);
    color: var(--emphasis-color);
    border: 1px solid var(--emphasis-color);
    padding: 0.8rem;
    margin-top: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: var(--emphasis-color);
      color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
    }
  }

  .actionButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    button {
      flex: 1;
      min-width: 8rem;
    }

    .editButton, .saveButton {
      background: var(--emphasis-color);
      color: var(--secondary-color);
      border: 1px solid var(--secondary-color);

      &:hover {
        background-color: var(--secondary-color);
        color: var(--emphasis-color);
        border: 1px solid var(--emphasis-color);
      }
    }

    .cancelButton, .backButton {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border: 1px solid var(--primary-color);

      &:hover {
        color: var(--emphasis-color);
        border: 1px solid var(--emphasis-color);
      }
    }
  }
}