/* styles commun à toutes les pages */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* Structure de la page */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que la page occupe toute la hauteur de la fenêtre */
}

.main-content {
    flex: 1; /* Permet au contenu de s'étendre pour pousser le footer vers le bas */
}