.themesPage {
    display: flex;
    gap: 3rem;
    margin-top: 7rem;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    flex-wrap: nowrap;
    width: 100%;
    max-width: 80vw;
    flex-direction: column;

    h2 {
        margin-bottom: 3rem;
        text-align: center;
        font-size: 25px;
    }

    .themesContainer {
        display: flex;
        gap: 4rem;
     }

    .theme {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        width: 13rem;
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        .themeBox {
            width: 100%;
            height: 15rem;
            display: grid;
            grid-template-columns: 1.4fr 0.7fr;
            grid-template-rows: 1rf 1fr;
            border-radius: 35px;
            border: 2px solid var(--primary-color);
            overflow: hidden;
            position: relative;
            background: var(--tertiary-color);
            .top { background: var(--primary-color); }
            .bottomRight { background: var(--secondary-color); }
            .bottom { background: var(--quaternary-color); }
            .button { background: var(--emphasis-color); }

            .top {
                grid-column: 1 / span 2;
                border-bottom: 2px solid var(--primary-color);
            }

            .bottomRight {
                grid-row: span 2;
                border-left: 2px solid var(--primary-color);
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 2px solid var(--primary-color);

                .button {
                    width: 55%;
                    height: 40%;
                    border-radius: 10px;
                }
            }
        }
        span {
            font-size: 23px;
            position: absolute;
            bottom: -3.5rem;
        }
    }
}