.btn-nav-mobile {
    display: none;

}

.site-nav {
    display: block;
}

@media screen and (max-width: 50rem){
    .btn-nav-mobile {
        display: block;
        width: 90px;
        height: 40px;
        background-color: white;
        color: #B72D2D;
        font-weight: 700;
        border: 2px solid #B72D2D;
    }

    .site-nav {
        display: none;
    }

    .site-nav-visible {
        display: block;
    }
}