.featureCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    max-width: 500px;
    padding: 1rem;
    
    @media (max-width: 950px) {
      width: 80%;
    }
    
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  
  .featureImageContainer {
    width: 100%;
    max-width: 350px;
    height: 63%;
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: 130px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    @media (max-width: 768px) {
      max-width: 280px;
    }
  }
  
  .featureImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .featureContent {
    text-align: center;
    max-width: 350px;
  }
  
  .featureTitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-transform: uppercase;
    
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  
  .featureDescription {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--primary-color);
    
    @media (max-width: 768px) {
      font-size: 0.95rem;
    }
  }